.lets-talk-wrapper {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.lets-talk-figure {
  width: 110%;
  height: 800px;
}

.lets-talk-figure-img {
  position: relative;
  width: 100%;
  height: 100%;
  top: -160px;
  left: -45%;
}

.lets-talk-heading {
  position: relative;
  width: 100%;
  top: -658px;
  left: 28.5%;
}

.form-wrapper {
  width: 60%;
  height: 40%;
  margin: -500px auto 0 auto;
  border: 1px solid #fff;
  border-radius: 0 60px 0 0;
}

.form-border {
  width: 100%;
  height: 100%;
  margin-top: 12px;
  margin-left: 12px;
  border: 1px solid #fff;
  border-radius: 0 50px 0 0;
}

.form-content {
  position: relative;
  width: 65%;
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
  z-index: 10;
}
