/* @media screen and (max-width: 1840px) {
  .our-services-figure {
    margin-left: 17% !important;
  }
}

@media screen and (max-width: 1701px) {
  .what-makes-figure {
    margin-left: -43% !important;
  }

  .our-services-figure {
    margin-left: 10% !important;
  }
}

@media screen and (max-width: 1560px) {
  .what-makes-figure {
    margin-left: -47% !important;
  }
}

@media screen and (max-width: 1541px) {
  .our-services-figure {
    margin-left: 2% !important;
  }
}

@media screen and (max-width: 1441px) {
  .what-makes-figure {
    margin-left: -51% !important;
  }

  .our-services-figure {
    margin-left: -3% !important;
    margin-top: 1400px !important;
  }
}

@media screen and (max-width: 1370px) {
  .our-services-figure {
    margin-left: -8% !important;
  }
}

@media screen and (max-width: 1360px) {
  .what-makes-figure {
    width: 1900px !important;
    margin-left: -49% !important;
  }
}

@media screen and (max-width: 1300px) {
  .our-services-figure {
    margin-left: -14% !important;
  }
}

@media screen and (max-width: 1200px) {
  .what-makes-figure {
    margin-left: -54% !important;
    margin-top: 800px !important;
  }

  .our-services-figure {
    margin-left: -23% !important;
  }
}

@media screen and (max-width: 1150px) {
  .our-services-figure {
    margin-left: -29% !important;
  }
}

@media screen and (max-width: 1125px) {
  .what-makes-figure {
    margin-left: -60% !important;
  }
}

@media screen and (max-width: 1090px) {
  .our-services-figure {
    margin-left: -34% !important;
  }
}

@media screen and (max-width: 1060px) {
  .our-services-figure {
    margin-left: -38% !important;
  }
}

@media screen and (max-width: 1025px) {
  .what-makes-figure {
    width: 1600px !important;
    height: 600px !important;
    margin-left: -53% !important;
    margin-top: 700px !important;
  }

  .our-services-figure {
    width: 1900px !important;
    height: 700px !important;
    margin-left: -25% !important;
    margin-top: 1300px !important;
  }
}

@media screen and (max-width: 980px) {
  .our-services-figure {
    width: 1600px !important;
    margin-left: -10% !important;
  }
}

@media screen and (max-width: 951px) {
  .what-makes-figure {
    margin-left: -57% !important;
  }
}

@media screen and (max-width: 930px) {
  .our-services-figure {
    margin-left: -16% !important;
    margin-top: 1350px !important;
  }
}

@media screen and (max-width: 900px) {
  .what-makes-figure {
    width: 1600px !important;
    height: 700px !important;
    margin-left: -62% !important;
    margin-top: 650px !important;
  }

  .our-services-figure {
    width: 1550px !important;
    margin-left: -20% !important;
    margin-top: 1400px !important;
  }
}

@media screen and (max-width: 841px) {
  .what-makes-figure {
    margin-left: -67% !important;
  }

  .our-services-figure {
    width: 1450px !important;
    margin-left: -21% !important;
  }
}

@media screen and (max-width: 801px) {
  .what-makes-figure {
    margin-left: -72% !important;
  }
}

@media screen and (max-width: 769px) {
  .what-makes-figure {
    width: 1400px !important;
    margin-left: -63% !important;
  }

  .our-services-figure {
    width: 1350px !important;
    margin-left: -22% !important;
    margin-top: 1450px !important;
  }
}

@media screen and (max-width: 721px) {
  .what-makes-figure {
    margin-left: -68% !important;
  }
}

@media screen and (max-width: 710px) {
  .our-services-figure {
    width: 1200px !important;
    margin-left: -18% !important;
    margin-top: 1500px !important;
  }
}

@media screen and (max-width: 691px) {
  .what-makes-figure {
    margin-left: -72% !important;
  }
}

@media screen and (max-width: 660px) {
  .our-services-figure {
    margin-left: -27% !important;
  }
}

@media screen and (max-width: 651px) {
  .what-makes-figure {
    margin-left: -75% !important;
  }
}

@media screen and (max-width: 631px) {
  .what-makes-figure {
    width: 1220px !important;
    height: 700px !important;
    margin-left: -77% !important;
    margin-top: 650px !important;
  }
}

@media screen and (max-width: 610px) {
  .our-services-figure {
    width: 1100px !important;
    margin-left: -27% !important;
    margin-top: 1550px !important;
  }
}

@media screen and (max-width: 600px) {
  .what-makes-figure {
    width: 1300px !important;
    margin-left: -87% !important;
  }
}

@media screen and (max-width: 561px) {
  .what-makes-figure {
    margin-left: -94% !important;
  }
}

@media screen and (max-width: 540px) {
  .our-services-figure {
    width: 900px !important;
    margin-left: -12% !important;
  }
}

@media screen and (max-width: 531px) {
  .what-makes-figure {
    margin-left: -100% !important;
  }
}

@media screen and (max-width: 491px) {
  .what-makes-figure {
    width: 1200px !important;
    margin-left: -99% !important;
  }

  .our-services-figure {
    margin-left: -24% !important;
    margin-top: 1650px !important;
  }
}

@media screen and (max-width: 461px) {
  .what-makes-figure {
    width: 1100px !important;
    margin-left: -99% !important;
  }
}

@media screen and (max-width: 426px) {
  .what-makes-figure {
    width: 900px !important;
    height: 600px !important;
    margin-left: -84% !important;
  }

  .our-services-figure {
    height: 500px !important;
    margin-left: -29% !important;
    margin-top: 1750px !important;
  }
}

@media screen and (max-width: 401px) {
  .what-makes-figure {
    margin-left: -92% !important;
  }

  .our-services-figure {
    margin-left: -32% !important;
    margin-top: 1850px !important;
  }
}

@media screen and (max-width: 376px) {
  .what-makes-figure {
    margin-left: -100% !important;
  }

  .our-services-figure {
    margin-left: -39% !important;
    margin-top: 2050px !important;
  }
}

@media screen and (max-width: 341px) {
  .what-makes-figure {
    width: 800px !important;
    margin-left: -96% !important;
  }
} */
