.web-design-figure {
  width: 115%;
  height: 850px;
}

.web-design-figure-img {
  position: relative;
  width: 100%;
  height: 100%;
  top: -40px;
  left: 47%;
}

.web-design-heading {
  position: relative;
  width: 100%;
  top: -685px;
  left: 64%;
}

.web-design {
  width: 62%;
  height: 610px;
  margin-top: -745px;
  margin-left: 38%;
}

.web-design-img {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.web-design-text {
  position: relative;
  width: 35%;
  top: -380px;
  left: 10%;
}
