.network-setup-wrapper {
  width: 100%;
  min-height: 90vh;
  overflow: hidden;
}

.network-setup-figure {
  width: 110%;
  height: 800px;
}

.network-setup-figure-img {
  position: relative;
  width: 100%;
  height: 100%;
  top: -200px;
  left: 21%;
}

.network-setup-heading {
  position: relative;
  width: 100%;
  top: -690px;
  left: 50%;
}

.network-setup {
  width: 80%;
  height: 700px;
  margin-top: -710px;
  margin-left: 38%;
}

.network-setup-img {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.network-setup-text {
  position: relative;
  width: 35%;
  top: -440px;
  left: 11%;
}
