.our-services-wrapper {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  margin-top: 1180px;
  overflow: hidden;
  z-index: 3;
}

.our-services-figure {
  width: 90%;
  height: 900px;
}

.our-services-figure-img {
  position: relative;
  width: 100%;
  height: 100%;
  top: 160px;
  left: 42%;
}

.our-services-heading {
  position: relative;
  width: 100%;
  top: -215px;
  left: 59%;
}

.our-services-card-wrapper {
  display: flex;
  justify-content: center;
  padding: 0;
  width: 94%;
  height: 100%;
  border: 1px solid white;
  border-radius: 0 25% 0 0;
}

.our-services-card {
  background: inherit;
  padding: 10px 25px;
  width: 96%;
  height: 100%;
  margin-top: 7px;
  margin-left: 5px;
  border: 1px solid white;
  border-radius: 0 20% 0 0;
  overflow: visible;
}

.heading-card {
  font-size: 1.4rem;
}

.network-setup-card-img {
  width: 300px;
  height: 300px;
  margin-top: -140px;
  margin-left: -40px;
}

.network-setup-card-heading {
  margin-top: 15px;
  margin-bottom: 60px;
}

.help-desk-card-img {
  width: 330px;
  height: 330px;
  margin-top: -145px;
  margin-left: -60px;
}

.help-desk-card-heading {
  margin-top: -12px;
  margin-bottom: 63px;
}

.data-backup-card-img {
  width: 300px;
  height: 300px;
  margin-top: -150px;
  margin-left: -50px;
}

.data-backup-card-heading {
  margin-top: 21px;
  margin-bottom: 65px;
}

.it-consulting-card-img {
  width: 270px;
  height: 270px;
  margin-top: -135px;
  margin-left: -35px;
}

.it-consulting-card-heading {
  margin-top: 35px;
  margin-bottom: 66px;
}

.web-design-card-img {
  width: 270px;
  height: 270px;
  margin-top: -123px;
  margin-left: -6px;
}

.web-design-card-heading {
  margin-top: 25px;
  margin-bottom: 90px;
}

.graphic-design-card-img {
  width: 260px;
  height: 260px;
  margin-top: -108px;
  margin-left: -10px;
}

.graphic-design-card-heading {
  margin-top: 21px;
  margin-bottom: 89px;
}

.ux-ui-card-img {
  width: 230px;
  height: 230px;
  margin-top: -110px;
  margin-left: 2px;
}

.ux-ui-card-heading {
  margin-top: 55px;
  margin-bottom: 80px;
}

@media screen and (max-width: 1199px) {
  .network-setup-card-img {
    margin-left: -5px;
  }

  .help-desk-card-img {
    margin-left: -25px;
  }

  .data-backup-card-img {
    margin-left: -15px;
  }

  .it-consulting-card-img {
    margin-left: -5px;
  }

  .web-design-card-img {
    margin-left: 20px;
  }

  .graphic-design-card-img {
    margin-left: 5px;
  }

  .ux-ui-card-img {
    margin-left: 25px;
  }
}

@media screen and (max-width: 1100px) {
  .our-services-wrapper {
    margin-top: 1130px;
  }

  .our-services-figure {
    width: 95%;
  }

  .our-services-figure-img {
    left: 36%;
  }

  .our-services-heading {
    left: 57%;
  }

  .network-setup-card-img {
    margin-left: -20px;
  }

  .help-desk-card-img {
    margin-left: -45px;
  }

  .data-backup-card-img {
    margin-left: -35px;
  }

  .it-consulting-card-img {
    margin-left: -25px;
  }

  .web-design-card-img {
    margin-left: 10px;
  }

  .graphic-design-card-img {
    margin-left: -10px;
  }

  .ux-ui-card-img {
    margin-left: 10px;
  }
}

@media screen and (max-width: 1024px) {
  .our-services-wrapper {
    margin-top: 1130px;
  }

  .our-services-figure {
    width: 100%;
    height: 750px;
  }

  .our-services-figure-img {
    left: 30%;
  }

  .our-services-heading {
    top: -153px;
    left: 54%;
  }
}

@media screen and (max-width: 970px) {
  .our-services-wrapper {
    margin-top: 1190px;
  }

  .network-setup-card-img {
    margin-left: -45px;
  }

  .help-desk-card-img {
    margin-left: -65px;
  }

  .data-backup-card-img {
    margin-left: -60px;
  }

  .it-consulting-card-img {
    margin-left: -45px;
  }

  .web-design-card-img {
    margin-left: -15px;
  }

  .graphic-design-card-img {
    margin-left: -20px;
  }

  .ux-ui-card-img {
    margin-left: -5px;
  }
}

@media screen and (max-width: 900px) {
  .our-services-wrapper {
    margin-top: 1280px;
  }
}

@media screen and (max-width: 850px) {
  .network-setup-card-img {
    margin-left: -55px;
  }

  .help-desk-card-img {
    margin-left: -85px;
  }

  .data-backup-card-img {
    margin-left: -70px;
  }

  .it-consulting-card-img {
    margin-left: -55px;
  }

  .web-design-card-img {
    margin-left: -30px;
  }

  .graphic-design-card-img {
    margin-left: -35px;
  }

  .ux-ui-card-img {
    margin-left: -20px;
  }
}

@media screen and (max-width: 768px) {
  .our-services-figure {
    width: 110%;
  }

  .our-services-figure-img {
    left: 21%;
  }

  .our-services-heading {
    left: 50%;
  }

  .network-setup-card-img {
    margin-left: -70px;
  }

  .help-desk-card-img {
    margin-left: -95px;
  }

  .data-backup-card-img {
    margin-left: -85px;
  }

  .it-consulting-card-img {
    margin-left: -70px;
  }

  .web-design-card-img {
    margin-left: -45px;
  }

  .graphic-design-card-img {
    margin-left: -50px;
  }

  .ux-ui-card-img {
    margin-left: -40px;
  }
}

@media screen and (max-width: 730px) {
  .our-services-wrapper {
    margin-top: 1340px;
  }
}

@media screen and (max-width: 720px) {
  .our-services-wrapper {
    margin-top: 1140px;
  }
}

@media screen and (max-width: 660px) {
  .our-services-wrapper {
    margin-top: 1200px;
  }
}

@media screen and (max-width: 620px) {
  .our-services-wrapper {
    margin-top: 1250px;
  }
}

@media screen and (max-width: 599px) {
  .network-setup-card-img {
    margin-left: 10px;
  }

  .help-desk-card-img {
    margin-left: -20px;
  }

  .data-backup-card-img {
    margin-left: -5px;
  }

  .it-consulting-card-img {
    margin-left: 0;
  }

  .web-design-card-img {
    margin-left: 20px;
  }

  .graphic-design-card-img {
    margin-left: 20px;
  }

  .ux-ui-card-img {
    margin-left: 40px;
  }
}

@media screen and (max-width: 560px) {
  .our-services-wrapper {
    margin-top: 1320px;
  }

  .network-setup-card-img {
    margin-left: -10px;
  }

  .help-desk-card-img {
    margin-left: -35px;
  }

  .data-backup-card-img {
    margin-left: -20px;
  }

  .it-consulting-card-img {
    margin-left: -10px;
  }

  .web-design-card-img {
    margin-left: 10px;
  }

  .graphic-design-card-img {
    margin-left: 10px;
  }

  .ux-ui-card-img {
    margin-left: 30px;
  }
}

@media screen and (max-width: 530px) {
  .our-services-wrapper {
    margin-top: 1390px;
  }
}

@media screen and (max-width: 500px) {
  .our-services-wrapper {
    margin-top: 1320px;
  }
}

@media screen and (max-width: 470px) {
  .our-services-wrapper {
    margin-top: 1380px;
  }

  .our-services-figure {
    width: 120%;
  }

  .our-services-figure-img {
    left: 15%;
  }

  .our-services-heading {
    left: 48%;
  }

  .network-setup-card-img {
    margin-left: -50px;
  }

  .help-desk-card-img {
    margin-left: -75px;
  }

  .data-backup-card-img {
    margin-left: -60px;
  }

  .it-consulting-card-img {
    margin-left: -50px;
  }

  .web-design-card-img {
    margin-left: -30px;
  }

  .graphic-design-card-img {
    margin-left: -30px;
  }

  .ux-ui-card-img {
    margin-left: -10px;
  }
}

@media screen and (max-width: 450px) {
  .our-services-wrapper {
    margin-top: 1410px;
  }
}

@media screen and (max-width: 425px) {
  .our-services-wrapper {
    margin-top: 1290px;
  }

  .our-services-figure {
    height: 650px;
  }

  .our-services-heading {
    top: -110px;
  }
}

@media screen and (max-width: 410px) {
  .our-services-wrapper {
    margin-top: 1300px;
  }
}

@media screen and (max-width: 400px) {
  .our-services-wrapper {
    margin-top: 1370px;
  }
}

@media screen and (max-width: 375px) {
  .our-services-wrapper {
    margin-top: 1430px;
  }

  .network-setup-card-img {
    margin-left: -70px;
  }

  .help-desk-card-img {
    margin-left: -105px;
  }

  .data-backup-card-img {
    margin-left: -90px;
  }

  .it-consulting-card-img {
    margin-left: -75px;
  }

  .web-design-card-img {
    margin-left: -50px;
  }

  .graphic-design-card-img {
    margin-left: -50px;
  }

  .ux-ui-card-img {
    margin-left: -35px;
  }
}

@media screen and (max-width: 340px) {
  .our-services-wrapper {
    margin-top: 1500px;
  }

  .our-services-card-wrapper {
    width: 100%;
  }

  .our-services-card {
    width: 100%;
  }
}

@media screen and (max-width: 330px) {
  .our-services-wrapper {
    margin-top: 1550px;
  }
}

@media screen and (max-width: 320px) {
  .our-services-wrapper {
    margin-top: 1600px;
  }
}
