.home-heading-text {
  text-align: center;
  font-size: 3.5rem;
  margin: 0 auto;
  width: 40%;
  position: relative;
  top: 30%;
  z-index: 14;
}

.home-heading-text-normal {
  font-size: 1.5rem;
  font-weight: normal;
}

.home-heading-button {
  position: relative;
  width: 100%;
  top: 54%;
  text-align: center;
  z-index: 13;
}

@media screen and (max-width: 1380px) {
  .home-heading-text {
    width: 45%;
  }
}

@media screen and (max-width: 1250px) {
  .home-heading-text {
    width: 50%;
  }
}

@media screen and (max-width: 1120px) {
  .home-heading-text {
    font-size: 3rem;
  }
}

@media screen and (max-width: 1050px) {
  .home-heading-text {
    font-size: 2.8rem;
  }
}

@media screen and (max-width: 1024px) {
  .home-heading-text {
    top: 28%;
  }

  .home-heading-button {
    top: 52%;
  }
}

@media screen and (max-width: 880px) {
  .home-heading-text {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 790px) {
  .home-heading-text {
    font-size: 2rem;
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  .home-heading-text {
    top: 33%;
  }

  .home-heading-button {
    top: 52%;
  }
}

@media screen and (max-width: 720px) {
  .home-heading-text-normal {
    font-size: 1.3rem;
  }

  .home-heading-text {
    font-size: 1.8rem;
    top: 29%;
  }

  .home-heading-button {
    top: 51%;
  }
}

@media screen and (max-width: 580px) {
  .home-heading-text-normal {
    font-size: 1.1rem;
  }

  .home-heading-text {
    font-size: 1.6rem;
    top: 30%;
  }

  .home-heading-button {
    top: 51%;
  }
}

@media screen and (max-width: 500px) {
  .home-heading-text-normal {
    font-size: 0.9rem;
  }

  .home-heading-text {
    font-size: 1.4rem;
    top: 32%;
  }

  .home-heading-button {
    top: 55%;
  }
}

@media screen and (max-width: 370px) {
  .home-heading-button {
    top: 60%;
  }
}
