.bottom-figure-1 {
  width: 600px;
  height: 900px;
  position: relative;
  top: 190px;
  left: -7%;
}

.bottom-figure-2 {
  width: 2300px;
  height: 800px;
  position: relative;
  left: -10%;
  top: -800px;
}

.bottom-image {
  width: 450px;
  height: 450px;
  position: relative;
  top: -2080px;
  left: 64%;
}

.bottom-figure-3 {
  width: 1800px;
  height: 1600px;
  position: relative;
  left: 35%;
  top: -2960px;
}

.bottom-figure-4 {
  width: 1800px;
  height: 1000px;
  position: relative;
  left: 40%;
  top: -3750px;
}
