.what-makes-figure {
  width: 107%;
  height: 900px;
}

.what-makes-figure-img {
  position: relative;
  width: 100%;
  height: 100%;
  top: 60px;
  left: -33%;
}

.what-makes-heading {
  position: relative;
  width: 100%;
  top: -500px;
  left: 6%;
}
