.list {
  list-style: none;
  display: flex;
  padding-left: 0;
}

.list-item {
  padding: 0 12px;
}

.list-item a {
  text-decoration: none;
  color: inherit;
}

.list-item a:hover {
  color: #455a64;
}

.list-item a.active {
  text-decoration: underline;
  color: #455a64;
}

@media screen and (max-width: 920px) {
  .list-items {
    padding: 0 10px;
  }
}
