.figures-animate {
  background: linear-gradient(0deg, rgba(25, 25, 25, 0.1), rgba(0, 0, 0, 1));
  margin-top: -53px;
  position: absolute;
  width: 100%;
  height: 115vh;
  overflow: hidden;
  z-index: 5;
}

.home-top-figure1 {
  width: 40%;
  height: 700px;
}

.figure1-img {
  position: relative;
  width: 100%;
  height: 100%;
  top: -130px;
  left: -78.5%;
  z-index: 10;
  animation: homeTopFigure1 3s forwards 2s;
}

.home-top-figure2 {
  width: 67%;
  height: 790px;
}

.figure2-img {
  position: relative;
  width: 100%;
  height: 100%;
  top: -730px;
  left: -95%;
  z-index: 7;
  animation: homeTopFigure2 3s forwards 1s;
}

.home-top-figure3 {
  width: 55%;
  height: 1000px;
}

.figure3-img {
  position: relative;
  width: 100%;
  height: 100%;
  top: -325px;
  left: 31%;
  z-index: 6;
  animation: homeTopFigure3 3s forwards 2s;
}

.home-top-figure4 {
  width: 55%;
  height: 860px;
}

.figure4-img {
  position: relative;
  width: 100%;
  height: 100%;
  top: -1405px;
  left: 92%;
  z-index: 11;
  animation: homeTopFigure4 3s forwards 2s;
}

.home-top-figure5 {
  width: 70%;
  height: 800px;
}

.figure5-img {
  position: relative;
  width: 100%;
  height: 100%;
  top: -3230px;
  left: 155%;
  z-index: 12;
  animation: homeTopFigure5 3s forwards 2s;
}

/* Media queris */
@media screen and (max-width: 1875px) {
  .figures-animate {
    height: 125vh;
  }
}

@media screen and (max-width: 1850px) {
  .figure1-img {
    left: -86%;
  }

  .figure2-img {
    left: -100%;
  }

  .figure3-img {
    left: 35%;
  }

  .figure4-img {
    left: 90%;
  }

  .figure5-img {
    left: 156%;
  }
}

@media screen and (max-width: 1800px) {
  .figure1-img {
    left: -89%;
  }

  .figure2-img {
    left: -103%;
  }

  .figure3-img {
    left: 30%;
  }

  .figure5-img {
    left: 158%;
  }
}

@media screen and (max-width: 1750px) {
  .figure1-img {
    left: -91%;
  }

  .figure2-img {
    left: -108%;
  }

  .home-top-figure3 {
    width: 54%;
  }

  .figure3-img {
    left: 32%;
  }

  .figure4-img {
    left: 87%;
  }

  .figure5-img {
    left: 158%;
  }
}

@media screen and (max-width: 1700px) {
  .figure2-img {
    left: -110%;
  }

  .figure3-img {
    left: 34%;
  }

  .figure4-img {
    left: 89%;
  }

  .figure5-img {
    left: 161%;
  }
}

@media screen and (max-width: 1650px) {
  .figure2-img {
    left: -112%;
  }

  .figure3-img {
    left: 36%;
  }

  .figure4-img {
    left: 91%;
  }

  .figure5-img {
    left: 165%;
  }
}

@media screen and (max-width: 1600px) {
  .figure2-img {
    left: -114%;
  }

  .figure3-img {
    left: 38%;
  }

  .figure4-img {
    left: 93%;
  }

  .figure5-img {
    left: 170%;
  }
}

@media screen and (max-width: 1550px) {
  .figure1-img {
    left: -93%;
  }

  .figure2-img {
    left: -116%;
  }

  .figure3-img {
    left: 36%;
  }

  .figure4-img {
    left: 95%;
  }

  .figure5-img {
    left: 174%;
  }
}

@media screen and (max-width: 1500px) {
  .figure1-img {
    left: -100%;
  }

  .figure2-img {
    left: -126%;
  }

  .figure3-img {
    left: 36%;
  }

  .figure4-img {
    left: 89%;
  }

  .figure5-img {
    left: 173%;
  }
}

@media screen and (max-width: 1440px) {
  .figure1-img {
    left: -105%;
  }

  .figure2-img {
    left: -132%;
  }

  .figure3-img {
    left: 36%;
  }

  .home-top-figure4 {
    height: 780px;
  }

  .figure4-img {
    left: 88%;
  }

  .figure5-img {
    left: 176%;
  }
}

@media screen and (max-width: 1400px) {
  .figure1-img {
    left: -111%;
  }

  .figure2-img {
    left: -136%;
  }

  .figure3-img {
    left: 32%;
  }

  .figure5-img {
    left: 179%;
  }
}

@media screen and (max-width: 1350px) {
  .figure1-img {
    left: -115%;
  }

  .home-top-figure2 {
    width: 73%;
  }

  .figure2-img {
    left: -133%;
  }

  .figure4-img {
    left: 94%;
  }

  .figure3-img {
    left: 30%;
  }

  .figure5-img {
    left: 187%;
  }
}

@media screen and (max-width: 1300px) {
  .figures-animate {
    height: 110vh;
  }

  .home-top-figure1 {
    width: 40%;
    height: 600px;
  }

  .figure1-img {
    top: -115px;
    left: -115%;
  }

  .home-top-figure2 {
    height: 650px;
  }

  .figure2-img {
    top: -625px;
    left: -136%;
  }

  .home-top-figure3 {
    width: 60%;
    height: 900px;
  }

  .figure3-img {
    top: -150px;
    left: 26%;
  }

  .home-top-figure4 {
    width: 55%;
    height: 640px;
  }

  .figure4-img {
    top: -1050px;
    left: 96%;
  }

  .home-top-figure5 {
    width: 65%;
    height: 650px;
  }

  .figure5-img {
    top: -2750px;
    left: 210%;
  }
}

@media screen and (max-width: 1250px) {
  .figure1-img {
    left: -120%;
  }

  .figure2-img {
    left: -143%;
  }

  .figure3-img {
    left: 24%;
  }

  .figure5-img {
    left: 215%;
  }
}

@media screen and (max-width: 1200px) {
  .home-top-figure1 {
    width: 45%;
  }

  .figure1-img {
    left: -115%;
  }

  .figure2-img {
    left: -149%;
  }

  .home-top-figure3 {
    width: 65%;
  }

  .figure3-img {
    left: 20%;
  }

  .figure5-img {
    left: 220%;
  }
}

@media screen and (max-width: 1150px) {
  .figure1-img {
    left: -122%;
  }

  .home-top-figure2 {
    width: 75%;
  }

  .figure2-img {
    left: -153%;
  }

  .figure4-img {
    left: 97%;
  }

  .figure5-img {
    left: 225.5%;
  }
}

@media screen and (max-width: 1100px) {
  .figures-animate {
    height: 100vh;
  }

  .home-top-figure1 {
    height: 500px;
  }

  .figure1-img {
    top: -100px;
    left: -123%;
  }

  .home-top-figure2 {
    width: 77%;
    height: 600px;
  }

  .figure2-img {
    top: -525px;
    left: -155%;
  }

  .home-top-figure3 {
    width: 67%;
    height: 850px;
  }

  .figure3-img {
    top: -15px;
  }

  .home-top-figure4 {
    width: 50%;
    height: 600px;
  }

  .figure4-img {
    top: -850px;
    left: 118%;
  }

  .home-top-figure5 {
    width: 60%;
    height: 600px;
  }

  .figure5-img {
    top: -2500px;
    left: 260%;
  }
}

@media screen and (max-width: 1060px) {
  .figure1-img {
    left: -129%;
  }

  .figure2-img {
    left: -162%;
  }

  .figure3-img {
    left: 19%;
  }

  .figure4-img {
    left: 115%;
  }

  .figure5-img {
    left: 262%;
  }
}

@media screen and (max-width: 1024px) {
  .figure1-img {
    left: -133%;
  }

  .figure2-img {
    left: -168%;
  }

  .figure3-img {
    left: 18%;
  }

  .home-top-figure4 {
    height: 560px;
  }

  .figure5-img {
    top: -2500px;
    left: 268%;
  }
}

@media screen and (max-width: 1000px) {
  .figure1-img {
    left: -137%;
  }

  .figure2-img {
    left: -172.5%;
  }

  .figure5-img {
    left: 272%;
  }
}

@media screen and (max-width: 970px) {
  .figure1-img {
    left: -140%;
  }

  .figure2-img {
    left: -179%;
  }

  .figure5-img {
    left: 278%;
  }
}

@media screen and (max-width: 940px) {
  .figure1-img {
    left: -144%;
  }

  .figure2-img {
    left: -185%;
  }

  .figure5-img {
    left: 283%;
  }
}

@media screen and (max-width: 910px) {
  .figure1-img {
    left: -148%;
  }

  .figure2-img {
    left: -191%;
  }

  .figure5-img {
    left: 289%;
  }
}

@media screen and (max-width: 880px) {
  .figures-animate {
    height: 95vh;
  }

  .home-top-figure1 {
    height: 450px;
  }

  .figure1-img {
    top: -90px;
    left: -152%;
  }

  .home-top-figure2 {
    width: 75%;
    height: 550px;
  }

  .figure2-img {
    top: -470px;
    left: -202%;
  }

  .home-top-figure3 {
    width: 65%;
    height: 750px;
  }

  .figure3-img {
    top: 107px;
    left: 20%;
  }

  .home-top-figure4 {
    width: 55%;
    height: 510px;
  }

  .figure4-img {
    top: -645px;
    left: 99%;
  }

  .home-top-figure5 {
    width: 65%;
    height: 450px;
  }

  .figure5-img {
    top: -2180px;
    left: 270%;
  }
}

@media screen and (max-width: 850px) {
  .figure1-img {
    left: -156%;
  }

  .figure2-img {
    left: -208%;
  }

  .figure5-img {
    left: 275.5%;
  }
}

@media screen and (max-width: 830px) {
  .figure1-img {
    left: -160%;
  }

  .figure2-img {
    left: -215%;
  }

  .figure5-img {
    left: 280%;
  }
}

@media screen and (max-width: 800px) {
  .figure1-img {
    left: -165%;
  }

  .figure2-img {
    left: -223%;
  }

  .figure5-img {
    left: 287%;
  }
}

@media screen and (max-width: 768px) {
  .figure1-img {
    left: -170%;
  }

  .figure2-img {
    left: -232%;
  }

  .home-top-figure3 {
    width: 58%;
    height: 700px;
  }

  .figure3-img {
    top: 139px;
    left: 22%;
  }

  .home-top-figure4 {
    height: 550px;
  }

  .figure5-img {
    top: -2180px;
    left: 295%;
  }
}

@media screen and (max-width: 740px) {
  .figure1-img {
    left: -175%;
  }

  .figure2-img {
    left: -241%;
  }

  .figure5-img {
    left: 303%;
  }
}

@media screen and (max-width: 720px) {
  .figures-animate {
    height: 70vh;
  }

  .home-top-figure1 {
    width: 40%;
    height: 350px;
  }

  .figure1-img {
    top: -65px;
    left: -195%;
  }

  .home-top-figure2 {
    width: 70%;
    height: 400px;
  }

  .figure2-img {
    top: -370px;
    left: -265%;
  }

  .home-top-figure3 {
    width: 60%;
    height: 600px;
  }

  .figure3-img {
    top: 311px;
    left: 23%;
  }

  .home-top-figure4 {
    width: 55%;
    height: 380px;
  }

  .figure4-img {
    top: -235px;
    left: 89%;
  }

  .home-top-figure5 {
    width: 60%;
    height: 330px;
  }

  .figure5-img {
    top: -1670px;
    left: 328%;
  }
}

@media screen and (max-width: 700px) {
  .figure1-img {
    left: -200%;
  }

  .figure2-img {
    left: -273%;
  }

  .figure5-img {
    left: 334%;
  }
}

@media screen and (max-width: 680px) {
  .figure1-img {
    left: -208%;
  }

  .figure2-img {
    left: -282%;
  }

  .figure5-img {
    left: 341%;
  }
}

@media screen and (max-width: 660px) {
  .figure1-img {
    left: -212%;
  }

  .figure2-img {
    left: -290%;
  }

  .figure5-img {
    left: 349%;
  }
}

@media screen and (max-width: 640px) {
  .figure1-img {
    left: -220%;
  }

  .figure2-img {
    left: -300%;
  }

  .figure5-img {
    left: 357%;
  }
}

@media screen and (max-width: 620px) {
  .figure1-img {
    left: -225%;
  }

  .figure2-img {
    left: -310%;
  }

  .figure5-img {
    left: 365%;
  }
}

@media screen and (max-width: 600px) {
  .figure1-img {
    left: -230%;
  }

  .figure2-img {
    left: -320%;
  }

  .figure5-img {
    left: 375%;
  }
}

@media screen and (max-width: 580px) {
  .figure1-img {
    left: -240%;
  }

  .figure2-img {
    left: -332%;
  }

  .figure5-img {
    left: 384%;
  }
}

@media screen and (max-width: 560px) {
  .figure1-img {
    left: -247%;
  }

  .figure2-img {
    left: -343%;
  }

  .figure5-img {
    left: 393%;
  }
}

@media screen and (max-width: 540px) {
  .figure1-img {
    left: -255%;
  }

  .figure2-img {
    left: -355%;
  }

  .figure5-img {
    left: 404%;
  }
}

@media screen and (max-width: 520px) {
  .figure1-img {
    left: -265%;
  }

  .figure2-img {
    left: -370%;
  }

  .figure5-img {
    left: 416%;
  }
}

@media screen and (max-width: 500px) {
  .figures-animate {
    height: 55vh;
  }

  .home-top-figure1 {
    width: 38%;
    height: 250px;
  }

  .figure1-img {
    top: -35px;
    left: -288%;
  }

  .home-top-figure2 {
    width: 70%;
    height: 300px;
  }

  .figure2-img {
    top: -250px;
    left: -387%;
  }

  .home-top-figure3 {
    width: 55%;
    height: 450px;
  }

  .figure3-img {
    top: 534px;
    left: 27%;
  }

  .home-top-figure4 {
    width: 60%;
    height: 300px;
  }

  .figure4-img {
    top: 120px;
    left: 78%;
  }

  .home-top-figure5 {
    width: 70%;
    height: 270px;
  }

  .figure5-img {
    top: -1260px;
    left: 363%;
  }
}

@media screen and (max-width: 490px) {
  .figure1-img {
    left: -293%;
  }

  .figure2-img {
    left: -394%;
  }

  .figure5-img {
    left: 370%;
  }
}

@media screen and (max-width: 480px) {
  .figure1-img {
    left: -299%;
  }

  .figure2-img {
    left: -403%;
  }

  .figure5-img {
    left: 376%;
  }
}

@media screen and (max-width: 470px) {
  .figure1-img {
    left: -305%;
  }

  .figure2-img {
    left: -411%;
  }

  .figure3-img {
    left: 31%;
  }

  .figure5-img {
    left: 382%;
  }
}

@media screen and (max-width: 460px) {
  .figure1-img {
    left: -310%;
  }

  .figure2-img {
    left: -420%;
  }

  .figure5-img {
    left: 389%;
  }
}

@media screen and (max-width: 450px) {
  .figure1-img {
    left: -317%;
  }

  .figure2-img {
    left: -430%;
  }

  .figure5-img {
    left: 396%;
  }
}

@media screen and (max-width: 440px) {
  .figure1-img {
    left: -323%;
  }

  .figure2-img {
    left: -439%;
  }

  .figure5-img {
    left: 403%;
  }
}

@media screen and (max-width: 430px) {
  .figure1-img {
    left: -330%;
  }

  .figure2-img {
    left: -450%;
  }

  .figure5-img {
    left: 410%;
  }
}

@media screen and (max-width: 425px) {
  .figure1-img {
    left: -333%;
  }

  .figure2-img {
    left: -455%;
  }

  .home-top-figure3 {
    width: 48%;
    height: 330px;
  }

  .figure3-img {
    top: 610px;
    left: 28%;
  }

  .home-top-figure4 {
    width: 60%;
    height: 300px;
  }

  .figure4-img {
    top: 220px;
    left: 78%;
  }

  .home-top-figure5 {
    width: 65%;
    height: 270px;
  }

  .figure5-img {
    top: -1160px;
    left: 450%;
  }
}

@media screen and (max-width: 415px) {
  .figure1-img {
    left: -340%;
  }

  .figure2-img {
    left: -465%;
  }

  .figure5-img {
    left: 458%;
  }
}

@media screen and (max-width: 405px) {
  .figure1-img {
    left: -350%;
  }

  .figure2-img {
    left: -478%;
  }

  .figure5-img {
    left: 467%;
  }
}

@media screen and (max-width: 395px) {
  .figure1-img {
    left: -357%;
  }

  .figure2-img {
    left: -490%;
  }

  .figure5-img {
    left: 476%;
  }
}

@media screen and (max-width: 385px) {
  .figure1-img {
    left: -365%;
  }

  .figure2-img {
    left: -501%;
  }

  .figure5-img {
    left: 486%;
  }
}

@media screen and (max-width: 375px) {
  .figure1-img {
    left: -375%;
  }

  .figure2-img {
    left: -515%;
  }

  .figure5-img {
    left: 497%;
  }
}

@media screen and (max-width: 370px) {
  .figure1-img {
    left: -381%;
  }

  .figure2-img {
    left: -523%;
  }

  .figure5-img {
    left: 502%;
  }
}

@media screen and (max-width: 365px) {
  .figure1-img {
    left: -384%;
  }

  .figure2-img {
    left: -530%;
  }

  .figure5-img {
    left: 508%;
  }
}

@media screen and (max-width: 360px) {
  .figure1-img {
    left: -390%;
  }

  .figure2-img {
    left: -537%;
  }

  .figure5-img {
    left: 514%;
  }
}

@media screen and (max-width: 355px) {
  .figure1-img {
    left: -395%;
  }

  .figure2-img {
    left: -545%;
  }

  .figure5-img {
    left: 520%;
  }
}

@media screen and (max-width: 350px) {
  .figure1-img {
    left: -400%;
  }

  .figure2-img {
    left: -553%;
  }

  .figure5-img {
    left: 526%;
  }
}

@media screen and (max-width: 345px) {
  .figure1-img {
    left: -405%;
  }

  .figure2-img {
    left: -560%;
  }

  .figure5-img {
    left: 532%;
  }
}

@media screen and (max-width: 340px) {
  .figure1-img {
    left: -410%;
  }

  .figure2-img {
    left: -570%;
  }

  .figure5-img {
    left: 539%;
  }
}

@media screen and (max-width: 335px) {
  .figure1-img {
    left: -417%;
  }

  .figure2-img {
    left: -578%;
  }

  .figure5-img {
    left: 546%;
  }
}

@media screen and (max-width: 330px) {
  .figure1-img {
    left: -425%;
  }

  .figure2-img {
    left: -587%;
  }

  .figure5-img {
    left: 553%;
  }
}

@media screen and (max-width: 325px) {
  .figure1-img {
    left: -430%;
  }

  .figure2-img {
    left: -596%;
  }

  .figure5-img {
    left: 560%;
  }
}

@media screen and (max-width: 320px) {
  .figure1-img {
    left: -435%;
  }

  .figure2-img {
    left: -605%;
  }

  .figure5-img {
    left: 568%;
  }
}
