* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #191919;
  font-family: "Futura New", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.heading {
  font-size: 2.2rem !important;
}

.font-color {
  color: #fff;
}

.text-font {
  font-size: 1.3rem;
  font-weight: 300;
}

/* Media queris */
@media screen and (max-width: 1024px) {
  .heading {
    font-size: 1.8rem !important;
  }
}

@media screen and (max-width: 768px) {
  .heading {
    font-size: 1.6rem !important;
  }
}

@media screen and (max-width: 425px) {
  .heading {
    font-size: 1.3rem !important;
  }

  .text-font {
    font-size: 1.1rem;
  }
}

/* Key frames figures */
@keyframes homeTopFigure1 {
  from {
    transform: translateX(-500px);
  }
  to {
    transform: translateX(506px);
  }
}

@keyframes homeTopFigure2 {
  from {
    transform: translateX(-1200px);
  }
  to {
    transform: translateX(1370px);
  }
}

@keyframes homeTopFigure3 {
  from {
    transform: translateY(-2100px);
  }
  to {
    transform: translateY(-1090px);
  }
}

@keyframes homeTopFigure4 {
  from {
    transform: translateY(-300px);
  }
  to {
    transform: translateY(-1130px);
  }
}

@keyframes homeTopFigure5 {
  from {
    transform: translateX(1820px);
  }
  to {
    transform: translateX(-1000px);
  }
}
